			<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="dashboard" class='{{dasboardtab}} fonty'><i class="fa fa-home fa-fw"></i> Dashboard</a>
                        </li>							
                        <li>
                            <a href="zone" class='{{zonetab}} fonty'><i class="fa fa-clone fa-fw"></i> Control Zones</a>
                            <!-- /.nav-second-level -->
                        </li>						
                        <li>
							<a href="logout" class='fonty' style='color: red;'><i class="fa fa-sign-out fa-fw"></i> <strong>Logout</strong></a>
                        </li>
                        
                    </ul>
					<!-- Branding -->
					<h5><a class="navbar-brand text-muted small"><strong>Inferstrat</strong> Cloud Hub</a></h5>
                </div>
                <!-- /.sidebar-collapse -->
            </div>